@font-face {
  font-family: 'DevilBreezeMedium';
  src: url('DevilBreezeMedium.svg#DevilBreezeMedium') format('svg'),
       url('DevilBreezeMedium.ttf') format('truetype'),
       url('DevilBreezeMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'devil_breeze_medium';
  src: url('devil_breeze_medium.eot');
  src: url('devil_breeze_medium.eot?#iefix') format('embedded-opentype'),
       url('devil_breeze_medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

