/*Styles de la page d'accueil*/
* {box-sizing: border-box;}

html {
    height: 100%;
}

html, body {
    margin: 0px;
    width: 100%;
}

/*Balise du héro prend toute la dimension de l'écran peut importe sa taille*/
/*L'image dépassez à cause du 100vw*/
.hero {
    position: relative;
    margin: 0px;
    width: 100%;
    height: 100vh;
}

/*Aligner la colonne du texte au milieu de la page avec bootsrap*/
/*.sectionImageGroupe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

/*Prendre toute la taille de la section du héros*/
.sectionImageGroupe {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}

/*Centrer la colonne verticalement et horizontalement*/
/*Aligner le title-1 et la présentation du groupe au milieu de la colonne*/
.title-1, .text-header {
    margin: 0 auto;
    text-align: center;
}

/*Couleur du titre-1*/
.title-1 {
    color: var(--mauve);
    text-shadow: 3px 3px var(--bleuFonce);
}

/*Couleur du texte de présentation*/
p {
    color: var(--turquoise);
    text-shadow: 2px 2px var(--bleuFonce);
}

/*Mise en page du bouton en savoir plus*/
button {
    margin: 0% 15%;
    padding: 0% 25%;
    color: var(--bleu);
    background-color: var(--bleuFonce);
    border: outset var(--mauve);
}
/*Mise en page du hover*/
button:hover {
    color: var(--turquoise);
    background-color: var(--mauve);
    border: inset var(--rose);
}

/*Voir ce que je peux faire pour donner une taille à la section sans rogner l'image de portrait*/
/*Les images dans la balise picture prend toute la taille de la section?*/
.imgPortrait, .imgLandscape, .accueilContraste {
    width: 100%;
    height: 100%;
}

/*Mettre le filtre de couleur par dessus de la balise picture*/
.accueilContraste {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: var(--bleuFonce);
    opacity: 50%;
}

/*Couvrir la section avec l'image en portrait sans la déformer et ajuster sa position*/
.imgPortrait {
    object-fit: cover;
    object-position: 0% 100%;
}

/*Cacher l'image landscape par défaut*/
.imgLandscape {
    object-fit: cover;
    object-position: 0% 100%;
}

/*Cacher l'image en portrait et afficher celle du landscape*/
/*Faire en sorte que la hauteur de la section change à 56.25% de la largeur de l'écran*/
@media (orientation: landscape) {
    .hero {height: 56.25vw;}
}

/*La navbar défile jusqu'à ce qu'elle atteint le sommet de la page*/
nav {
    background-color: var(--rose);
    width: 100%;
    height: 5%;
}

/*Enlever les marges de côtés pour que le hamburger soit collé à gauche du navbar*/
.navbar-toggler {
    margin: 0px;
    background-color: var(--mauve);
}

/*Logo du titre: ajout padding top pour séparer le titre de l'image du groupe*/
.title-1-logo {
    font-family: var(--fontTitre);
    font-size: 25px;
    color: var(--bleuFonce);
    text-shadow: 3px 3px var(--mauve);
    padding-top: 5%;
}

/*Pied de page: source du problème d'alignement était un position: absolute et top:0px sur le container et le row.*/
.footer {
    width: 100%;
    background-color: var(--rose);
    padding: 20px;
    margin-top: 20px;
}

/*Par défaut, aligner le text et le lien dans le pied de page*/
.text-footer, .lien-github {
    width: 100%;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

/*Séparer le lien github des text-footer*/
.lien-github {
    margin: 15% 0%;
    text-decoration: none;
    color: var(--turquoise);
    text-shadow: 2px 2px var(--bleuFonce);
}