/*https://coolors.co/b50fb8-2fa0d0-191256-751f84-07d5cb*/
/*https://www.dafont.com/devil-breeze.font*/

/*Trouver comment résoudre ce problème ou trouver une autre typo*/
@font-face {
    font-family: 'DevilBreezeMedium';
    src: url('../fonts/devil_breeze/DevilBreezeMedium.svg#DevilBreezeMedium') format('svg'),
         url('../fonts/devil_breeze/DevilBreezeMedium.ttf') format('truetype'),
         url('../fonts/devil_breeze/DevilBreezeMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --turquoise: #07D5CB;
    --bleu: #2FA0D0;
    --mauve: #751F84;
    --rose: #B50FB8;
    --bleuFonce:#191256;
    --fontTitre: 'DevilBreezeMedium';
    --fontTexte: 'Noto Sans Display', sans-serif;
}

/*Les 2 typos fonctionne. Je crois s'était un problème de compatibilité avec google chrome et ttf*/
/*Les liens url dans le font-face sont bons. Ils trouvent la font et ne donne pas d'erreur dans la console.*/
/*Ceci est un test*/

body p {
    font-family: var(--fontTexte);
    font-size: 18px;
}
.title-1{
    font-family: var(--fontTitre);
    color: var(--mauve);
    font-size: 50px;
}
.title-2{
    font-family: var(--fontTitre);
    color: var(--turquoise);
    font-size: 40px;
}
.title-3{
    font-family: var(--fontTitre);
    color: var(--rose);
    font-size: 30px;
}