/*https://coolors.co/b50fb8-2fa0d0-191256-751f84-07d5cb*/
/*https://www.dafont.com/devil-breeze.font*/

/*Trouver comment résoudre ce problème ou trouver une autre typo*/
@font-face {
    src: url("/fonts/devil_breeze/devil_breeze_medium.ttf") format("ttf");
    font-family: "Devil-Breeze";
}

:root {
    --turquoise: #07D5CB;
    --bleu: #2FA0D0;
    --mauve: #751F84;
    --rose: #B50FB8;
    --bleuFonce:#191256;
    --fontTitre: "Devil-Breeze";
    --fontTexte: 'Noto Sans Display', sans-serif;
}

/*Google font fonctionne, l'autre fonctionne aussi, mais il y a un problème avec google chrome et microsoft edge: la typo ne fonctionne pas*/
/*Ceci est un test*/

body p {
    font-family: var(--fontTexte);
    font-size: 16px;
}
.title-1{
    font-family: "Devil-Breeze";
    color: var(--mauve);
    font-size: 50px;
}
.title-2{
    font-family: var(--fontTitre);
    color: var(--turquoise);
    font-size: 35px;
}
.title-3{
    font-family: var(--fontTitre);
    color: var(--rose);
    font-size: 25px;
}